<footer class="site-footer">
  <div class="site-footer__container">
    <section class="site-footer__subscription">
      <a class="site-footer__logo-link" href="/en/home.html"><img src="assets/footer/national-campus-logo.png" alt="USTA National Campus Home"></a>
      <a class="site-footer__btn site-footer__subscription-button" href="https://48188ad2.sibforms.com/serve/MUIFAIlfGVpfzetYeY0ld-o5gJ7N5WLmcwQKCGzls8hZvrp2c6G6GFENvYgX7OWG9VbBtY2di_JbLmqhFm7cL9WkImuoMTLvDsvlJ1OfbDwS5Ed7cOb1BUmMtDWvHaXKoaCYIeDhSiMjqlZ3KCgWnkFu5myttFWj8KLBCu2Pc1kdVOxjo-CfeZK4Skx3Tx4K7ThvcFrrHARYrbZu" target="_blank">Sign Up for our Newsletter</a>
    </section>
    <section class="site-footer__info">
      <div class="site-footer__schedule">
        <h3 class="site-footer__heading">Campus Hours</h3>
        <div><p>Monday - Friday&nbsp;&nbsp;&nbsp;&nbsp;7:00 AM - 9:00 PM</p><p>Saturday&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7:00 AM - 5:00 PM</p><p>Sunday&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7:00 AM - 5:00 PM</p><p>&nbsp;</p><p><a href="https://www.ustanationalcampus.com/en/home/news/holiday-hours.html"><b><u>VIEW HOLIDAY HOURS</u></b></a></p></div>
      </div>
      <div class="site-footer__address">
        <h3 class="site-footer__heading">Address</h3>
        <div><p>10000 USTA Blvd. </p><p>Orlando, FL 32827</p><p><a href="tel:4076752500">(407) 675-2500</a></p></div>
        <div class="site-footer__map"><a href="https://www.google.com/maps/place/USTA+National+Campus/@28.40035,-81.277727,15z/data=!4m5!3m4!1s0x0:0xa93446c27a424f4c!8m2!3d28.40035!4d-81.277727" target="_blank">Show on map</a><img src="assets/footer/map-location-pin.svg" alt="" aria-hidden="true"></div>
      </div>
      <nav class="site-footer__links site-footer__links--usta" aria-labelledby="usta-links-id">
        <h3 id="usta-links-id" class="site-footer__heading">Usta info</h3>
        <ul><li><a href="https://www.usta.com/content/usta/en/home/about-usta.html">About</a></li><li><a href="http://careers.usta.com/">Careers</a></li><li><a href="https://www.usta.com/content/usta/en/home/about-usta/who-we-are/national/usta-terms-of-use.html">Terms of Use</a></li><li><a href="https://www.usta.com/content/usta/en/home/about-usta/who-we-are/national/usta-privacy-policy.html">Privacy Policy</a></li><li><a href="/en/home/news/national-campus-program-policies.html">Program policies</a></li><li><a href="https://drive.google.com/file/d/1E3DZ5oJldst_PQEvnUhapNl6f7LeWUCa/view?usp=sharing">Site Map</a></li></ul>
      </nav>
      <nav class="site-footer__links site-footer__links--partner" aria-labelledby="partner-links-id">
        <h3 id="partner-links-id" class="site-footer__heading">Usta links</h3>
        <ul><li><a href="https://www.usta.com/content/usta/en/home.html">USTA.com</a></li><li><a href="https://www.usopen.org/">USOPEN.org</a></li><li><a href="https://www.ustafoundation.com/">USTAFOUNDATION.com</a></li><li><a href="https://www.playerdevelopment.usta.com/">PLAYER DEVELOPMENT</a></li></ul>
      </nav>
      <div class="site-footer__booking"><a class="site-footer__btn site-footer__booking-button" href="https://usta.courtreserve.com/Online/Events/List/6415/F6SUBQ2NFZ6415" target="_blank">Book now</a></div>
    </section>
  </div>
  <div class="site-footer__bottom">
    <nav class="site-footer__social" aria-label="Social"><ul><li><a href="https://www.facebook.com/USTANationalCampus/" target="_blank"><img src="assets/footer/facebook.png" alt="Facebook"></a></li><li><a href="https://www.instagram.com/usta.nationalcampus/" target="_blank"><img src="assets/footer/instagram.png" alt="Instagram"></a></li><li><a href="https://www.youtube.com/user/tennis" target="_blank"><img class="yt" src="assets/footer/youtube.png" alt="YouTube"></a></li></ul></nav>
    <div class="site-footer__copyright"><p>©2026 USTA ALL RIGHTS RESERVED</p></div>
  </div>
  <div class="site-footer__line"></div>
</footer>
